
<div class="container animated fadeIn"></div>
<div class="row">

  <div class="col sticky-top" >

    <input #termino type="text" (keyup)="buscar(termino.value)"  class="form-control" placeholder="Buscar artista">

  </div>

</div>

<app-loading *ngIf="loading == true" class="m-5"></app-loading>
<app-tarjetas *ngIf="!loading" [tarjetas]="artistas" ></app-tarjetas>
<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let artista of artistas" class="col">
    <div class="card m-5">
      <img [src]="artista.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>
        <p class="card-text"><span *ngFor="let artista of artista.artists;" class="badge rounded-pill bg-primary">{{artista.name}}</span>
        </p>
      </div>
    </div>
  </div>
  </div> -->


