
<div  class="row row-cols-1 row-cols-md-3 g-4 m-5 animated fadeIn" >

  <div (click)="verArtista(tarjeta)" *ngFor="let tarjeta of tarjetas" class="col class puntero">
    <div class="card">
     <img [src]="tarjeta.images | noimage" class="card-img-top" [alt]="tarjeta.name">
      <div class="card-body">
        <h5 class="card-title">{{tarjeta.name}}</h5>
        <p class="card-text">
          <span *ngFor="let artista of tarjeta.artists;" class="badge rounded-pill bg-primary">
            {{artista.name}}
          </span>
        </p>
      </div>
    </div>
  </div>

  </div>
